<html>  
  <head>
    <title>The Code Cookbook</title>
    <style>
      body {
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #333333;
        background-color: #F5F5F5;
        padding-bottom: 40px;    
      }
      
      #loginbox {
          margin: 7em auto;
          width: 320px;
      } 
           
      .container {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
        font-weight: normal;
        padding: 26px 24px 46px;
      }
                             
    </style>
  </head>
  <body>    
    <div id="loginbox" class="container"> 
      <center>
        <img src="http://localhost:3000/images/thecodecookbook300.png" alt="thecodecookbook.com"/>
      </center>
      <p>Hello <%= @resource.login %>!</p>
      <p>Someone has requested a link to change your password. You can do this through the link below.</p>
      <p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
      <p>If you didn't request this, please ignore this email.</p>
      <p>Your password won't change until you access the link above and create a new one.</p>
    </div>
    <center>      
       <%= link_to 'thecodecookbook.com', root_path %> © 2014 
    </center>
  </body>
</html>
